<section class="mh-experince image-bg" id="work-education">
  <div class="img-color-overlay">
    <div class="container">
      <div class="row section-separator">

        <div class="col-sm-12 col-md-6">
          <div class="mh-work">
            <h3>Education</h3>
            <div class="mh-experience-deatils">
              <!-- Education Institutes-->
              <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
                <h4>Software Enginnering<br><a style="cursor: text;">International Hellenic University</a></h4>
                <div class="mh-eduyear">2017 - PRESENT</div>
                <p>
                  I always knew that I wanted to become someone who codes. But this science has so many
                  different fields. This University helped me cover some of these fields and decide which one to follow.
                </p>
              </div>
              <!-- Education Institutes-->
              <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
                <h4>Highschool Student<br><a style="cursor: text;">Second Generar Highschool of Pylaia</a></h4>
                <div class="mh-eduyear">2012-2017</div>
                <p>To be honest, I didn not learn a lot of things from my Highschool. But some of my teachers
                  like my psysics teacher helped me understand what I wanted to become.
              </div>
            </div>
          </div>
        </div>
        <!--Break Point-->
        <div class="col-sm-12 col-md-6">
          <div class="mh-work">
            <h3>Work Experience</h3>
            <div class="mh-experience-deatils">
              <!-- Education Institutes-->
              <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
                <h4>Web Developer<br><a style="cursor: text;">IEEE IHU Student Branch</a></h4>
                <div class="mh-eduyear">NOVEMBER 2019 - PRESENT</div>
                <span>Responsibility :</span>
                <ul class="work-responsibility">
                  <li><i class="fa fa-circle"></i>Website Design, Development and Maintenance</li>
                  <li><i class="fa fa-circle"></i>Project Management</li>
                </ul>
              </div>
              <!-- Education Institutes-->
              <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">
                <h4>Web Developer<br><a style="cursor: text;">Fineas Racing Team</a></h4>
                <div class="mh-eduyear">JUNE 2018 - OCTOBER 2019</div>
                <span>Responsibility :</span>
                <ul class="work-responsibility">
                  <li><i class="fa fa-circle"></i>Website Design, Development</li>
                  <li><i class="fa fa-circle"></i>Search Engine Optimization</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
