<header class="black-bg mh-header mh-fixed-nav nav-scroll mh-xs-mobile-nav" id="mh-header">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-expand-lg mh-nav nav-btn">
        <a class="navbar-brand" href="#">
          <img src="assets/images/fedalon_logo.png" alt="maha" class="img-fluid">
          <!-- <h2>Maha</h2> -->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-0 ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#home" (click)="changeClass($event.target.parentNode)">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about" (click)="changeClass($event.target.parentNode)">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#featured" (click)="changeClass($event.target.parentNode)">Featured</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#work-education" (click)="changeClass($event.target.parentNode)">Work &
                Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#portfolio" (click)="changeClass($event.target.parentNode)">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact" (click)="changeClass($event.target.parentNode)">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
